myenv/
**/__pycache__/

/.env
frontend/.env

# Ignore the raw data directory
backend/public/data/

# BUT, do NOT ignore the DVC pointer file for it!
!backend/public/data.dvc

node_modules

mlruns/

backend/public/labelling/.dvc/config

gen-lang-client-0839403089-f8341344ffa2.json