myenv/
**/__pycache__/

/.env
frontend/.env

# Ignore the raw data directory
backend/public/data/
backend/public/labelling/

# BUT, do NOT ignore the DVC pointer file for it!

node_modules

mlruns/

backend/airflow/logs
backend/airflow
gdrive_sa.json