myenv/
**/__pycache__/

/.env
frontend/.env

# Ignore the raw data directory
backend/public/data/
backend/public/labelling/

# BUT, do NOT ignore the DVC pointer file for it!
!backend/public/data.dvc

node_modules

mlruns/

backend/public/labelling/gen-lang-client-0839403089-1d0928787708.json

backend/airflow/logs
backend/airflow
gen-lang-client-0839403089-1d0928787708.json