name: Model Training Pipeline

on: [push] # Chạy mỗi khi có code mới được push

jobs:
  run-training:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 1. Cài đặt Python & CML
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Setup CML
        uses: iterative/setup-cml@v1

      # 2. Cài đặt thư viện
      # - name: Install dependencies
      #   run: |
      #     pip install -r backend/requirements.txt
      #     pip install dvc[gdrive] # Nhớ cài gói hỗ trợ gdrive

      # 3. TẠO FILE CREDENTIAL TỪ SECRET (Bước quan trọng nhất)
      # GitHub Runner sẽ lấy nội dung từ Secret và tạo lại file json
      - name: Run DVC Pipeline on Kaggle with DAGsHub
        uses: KevKibe/kaggle-script-action@v1.0.5
        with:
          username: ${{ secrets.KAGGLE_USERNAME }}
          key: ${{ secrets.KAGGLE_KEY }}
          title: "Run Training Pipeline"
          enable_gpu: true
          enable_internet: true
          custom_script: |
            %%bash
            
            pip install dvc mlflow dagshub
            
            dvc remote modify origin --local auth basic
            dvc remote modify origin --local user japanesegirl2002
            dvc remote modify origin --local password "${{ secrets.DAGSHUB_TOKEN }}"

            export MLFLOW_TRACKING_URI="https://dagshub.com/japanesegirl2002/Detection-System.mlflow"
            export MLFLOW_TRACKING_USERNAME="japanesegirl2002"
            export MLFLOW_TRACKING_PASSWORD="${{ secrets.DAGSHUB_TOKEN }}"

            echo 'Dang tai du lieu tu DAGsHub...'
            dvc pull
            
            echo 'Bat dau train...'
            dvc repro
        
      # 5. Báo cáo kết quả (CML Report)
      - name: Write CML Report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "## Model Metrics" >> report.md
          
          # Giả sử lệnh dvc metrics diff in ra bảng so sánh
          dvc metrics diff --md >> report.md
          
          # Đăng comment vào bài commit/PR
          cml comment create report.md