name: Model Training Pipeline

on: [push] # Chạy mỗi khi có code mới được push

jobs:
  run-training:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 1. Cài đặt Python & CML
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      3. TẠO FILE CREDENTIAL TỪ SECRET (Bước quan trọng nhất)
      GitHub Runner sẽ lấy nội dung từ Secret và tạo lại file json
      - name: Run DVC Pipeline on Kaggle with DAGsHub
        uses: KevKibe/kaggle-script-action@v1.0.5
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        with:
          username: ${{ secrets.KAGGLE_USERNAME }}
          key: ${{ secrets.KAGGLE_KEY }}
          title: "Run Training Pipeline"
          enable_gpu: true
          enable_internet: true
          language: python
          # LƯU Ý QUAN TRỌNG:
          # 1. !cd Detection-System: Để chui vào thư mục code vừa clone
          # 2. &&: Để chạy tiếp lệnh sau
          # 3. python kaggle_runner.py ...: Gọi file python và TRUYỀN TOKEN VÀO SAU
          custom_script: "python kaggle_runner.py ${{ secrets.DAGSHUB_TOKEN }}"
        
      